.demo-blog .prev-button,
.demo-blog .play-button,
.demo-blog .next-button,
.demo-blog .pause-button {
    width: 44px;
    height: 44px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border-radius: 22px;
    background-color: #F5F5F5;
    cursor: pointer;
}

.demo-blog .prev-button {
    background-image: url(/img/prev.svg);
}

.demo-blog .play-button {
    background-image: url(/img/play.svg);
}

.demo-blog .pause-button {
    background-image: url(/img/pause.svg);
}

.demo-blog .next-button {
    background-image: url(/img/next.svg);
}

.demo-blog .meta > * {
    flex-direction: row;
}

.demo-blog .mdl-card__media {
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    justify-content: flex-end;
}

.mdl-progress {
    width: 400px;
    top: 19px;
    left: 10px;
}

.current-time {
    position: absolute;
    left: 151px;
    top: 329px;
}

.time-left {
    position: relative;
    top: 28px;
    right: 14px;
}

.progress {
    width: 400px;
    position: relative;
    top: 27px;
    left: 10px;
}

.progress input[type=range]::-webkit-slider-thumb {
    width: 7px;
    height: 7px;
    border: 0;
    background: rgb(63, 81, 181);
    border-radius: 100%;
    box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1);
    -webkit-appearance: none;
}

.volume {
    width: 200px;
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    right: -21px;
    bottom: 50px;
}

.volume__level {
    width: 24px;
    height: 24px;
    /*    margin-left: 14px;*/
    border: 0;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/img/volume.svg);
    position: absolute;
    left: -5px;
}

.progress .mdl-slider__background-upper {
    flex: 1 1 0% !important;
}

.demo-blog .something-else .mdl-card__media {
    justify-content: flex-start;
}

.tracklist {
    position: relative;
}

.hidden {
    display: none;
}

.loading-pulse {
    position: relative;
    width: 6px;
    height: 15px;
    background: rgb(63, 81, 181);
    -webkit-animation: pulse 750ms infinite;
    animation: pulse 300ms infinite;
    -webkit-animation-delay: 250ms;
    animation-delay: 250ms;
    opacity: 0.5;
    right: -45px;
    top: 2px;
    display: inline-block;
}

.loading-pulse:before,
.loading-pulse:after {
    content: '';
    position: absolute;
    display: block;
    height: 16px;
    width: 6px;
    background: rgb(63, 81, 181);
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-animation: pulse 750ms infinite;
    animation: pulse 750ms infinite;
}

.loading-pulse:before {
    left: -12px;
}

.loading-pulse:after {
    left: 12px;
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
}

@-webkit-keyframes pulse {
    50% {
        background: rgb(0, 169, 244);
    }
}

@keyframes pulse {
    50% {
        background: rgb(0, 169, 244)
    }
}

.hidden-fade{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1.7s, opacity 1.7s cubic-bezier(0.38, 0.04, 1, 1);
}

.preloader-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #080808;
    z-index: 2;
}

.preloader {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    width: 100%;
}

.preloader span {
    display: inline-block;
    height: 20px;
    width: 20px;
    background: #2fac9b;
    border-radius: 0px;
}

.preloader span:nth-child(1) {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    border-radius: 500px;
    -webkit-animation: scale 1s 0.1s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    animation: scale 1s 0.1s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.preloader span:nth-child(2) {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    border-radius: 500px;
    -webkit-animation: scale 1s 0.2s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    animation: scale 1s 0.2s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.preloader span:nth-child(3) {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    border-radius: 500px;
    -webkit-animation: scale 1s 0.3s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    animation: scale 1s 0.3s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.preloader span:nth-child(4) {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    border-radius: 500px;
    -webkit-animation: scale 1s 0.4s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    animation: scale 1s 0.4s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.preloader span:nth-child(5) {
    -webkit-border-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0;
    -moz-background-clip: padding;
    border-radius: 0;
    background-clip: padding-box;
    border-radius: 500px;
    -webkit-animation: scale 1s 0.5s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    animation: scale 1s 0.5s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    25% {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        background: #93e1d7;
    }
    50% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        margin: 0 3px;
        background: #2fac9b;
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes scale {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    25% {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        background: #93e1d7;
    }
    50% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        margin: 0 3px;
        background: #2fac9b;
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}
